{% extends 'layout.html' %}

{% block main %}
    <h1>The Talkies</h1>
    <div class="message-display">
        {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
    </div>
    <form action="/" method="post" class="index-form">
        <div>
            <input name="title" placeholder="title">
            <button name="add_movie" value="add">add new movie</button>
        </div>
        <div>
            <input type="text" name="search" placeholder="search...">
            <button name="search" type="submit" class="loop"><i class="fa fa-search"></i></button>
        </div>
    </form>
    <div>
        <ol class="movie-grid">
            {% for movie in movies %}
            <li>
                <a href="/movie/{{ movie.id }}"><img src="{{ movie.poster_url }}" class="movie-poster"></a>
            </li>
            {% endfor %}
        </ol>
    </div>
{% endblock %}