<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Talkies</title>
    <!-- https://favicon.io/emoji-favicons/film-projector/ -->
    <link href="/static/favicon.ico" rel="icon">
    <link href="/static/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav class="topnav">
        {% if session["user_id"] %}
        <a href="/">My talkies</a>
        <a class="right-menu" href="/logout">Log me out</a>
        <p class="right-menu">Logged as: {{ session["username"] }}</p>  
        {% else %}
        <a class="right-menu" href="/login">Log In</a>
        <a class="right-menu" href="/register">Create an account</a>
        {% endif %}
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>
    <script src="/static/script.js"></script>
</body>
</html>