{% extends 'layout.html' %}

{% block main %}
<div class="message-display">
  {% if messages %}
  {% for message in messages %}
      <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
</div>
<main class="movie-form-page">
    <div class="container">
        <div class="slide" id="poster-container">
            <a><img src="{{ movie.poster_url }}" class="movie-poster poster"></a>
            <h2>{{ movie.title }}</h2>
            <p>{{ movie.rating }}/10 &#11088;</p>
            <p>Directed by: {{ movie.director }}</p>
            <p>{{ movie.year }}</p>
            <a target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id }}/">imDB page</a>
            <button name="delete" value="{{ movie.id }}" type="submit" onclick=deleteMovie(value)>delete movie</button>
        </div>
        <div class="slide" id="review-container" data-movie-id="{{ movie.id }}">
            <h3>My Rating:</h3>
            <div class="editable-field" id="rating-section">
              <span id="current-rating">{{ user_movie.user_rating }}/10</span>
              <button class="edit-button" data-target="rating">Edit</button>
              <div class="edit-controls" id="edit-rating-controls" style="display: none;">
                <input type="number" id="edit-rating-input" value="">
                <button class="save-button" data-target="rating">Save</button>
                <button class="cancel-button" data-target="rating">Cancel</button>
              </div>
            </div>
          
            <h3>My Review:</h3>
            <div class="editable-field" id="review-section">
              <p id="current-review">{{ user_movie.user_review }}</p>
              <button class="edit-button" data-target="review">Edit</button>
              <div class="edit-controls" id="edit-review-controls" style="display: none;">
                <textarea id="edit-review-textarea"></textarea>
                <button class="save-button" data-target="review">Save</button>
                <button class="cancel-button" data-target="review">Cancel</button>
              </div>
            </div>
        </div>
</main>
{% endblock %}